:root, :host {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-white);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: var(--external-color-primary, var(--color-white));
  --color-secondary: var(--external-color-secondary, var(--color-black));
  --color-accent: #646cff;
  --color-gray: #f9f9f9;
  --color-heading: #654321;
  --color-error: #ff3d3d;
  --color-background: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: baseline;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: light) {
  :root {
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
    color: #213547;
    background-color: var(--color-white);
  }
  button {
    background-color: #f9f9f9;
  }
}
